<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Log in</h2>
  
    <input type="text" class="effect-1" name="productName" placeholder="Email" size="30">
    <br><br>
    <input type="text" class="effect-2" name="productPrice" placeholder="Password" size="30">
    <br><br>
   
   
    <button class="button">Sign In</button>
    <a href="register" class="userReg"> Register </a>    
    
        
</body>
</html>