<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
    <input type="text" class="effect-5" name="productID" placeholder="Name" size="30">
    <br><br>
    <input type="text" class="effect-1" name="productName" placeholder="Email" size="30">
    <br><br>
    <input type="text" class="effect-2" name="productPrice" placeholder="Password" size="30">
    <br><br>
    <input type="text" class="effect-3" name="productAvailable" placeholder="Confirm password" size="30">
    <br><br>
    <button class="button">Sign Up</button>
    <a href="login" class="userLogin"> Log in </a>    
</body>
</html>